{:screen-ratio 0.625
 :left {:background-color "blue"
        :color "white"
        :width 5
        :contents [{:image "icon.svg"
                    :top "1%"
                    :left "10%"
                    :width "80%"}]}
 :pages [{:contents [{:image "back-image.jpg"
                      :top "20%"
                      :width "40%"}
                     {:title "Allalin Presentation Framework"}
                     {:text ["Text "
                             ["transformed" {:transform [:italic :bold :underlined]
                                             :link "http://google.com"
                                             :color "lightblue"}]]
                      :top "55%"
                      :left "10%"
                      :width "80%"}
                     {:section [{:text "Section 1"
                                 :font-size "7%"}]
                      :background-color "blue"
                      :top "91%"
                      :left "10%"
                      :width "80%"
                      :height "7%"}
                     {:code "(into [] :a 1) {:x 1}"
                      :top "75%"
                      :left "10%"
                      :width "80%"}
                     {:fragments [{:text "First fragment"
                                   :top "85%"
                                   :left "10%"}
                                  {:text "Second fragment"
                                   :top "85%"
                                   :left "50%"}]}
                     {:steps [{:text []}
                              {:text "First step"
                               :top "45%"
                               :left "50%"}
                              {:text "Second step"
                               :top "45%"
                               :left "60%"}]}
                     {:page-number :total}]}
         {:title "Page 2"
          :background-image "back-image.jpg"
          :background-color "cyan"
          :background-position "center top"}]}